name: google
on:
  workflow_dispatch:
permissions:
  id-token: write
jobs:
  google:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/auth@v3
        id: auth
        with:
          workload_identity_provider: projects/348636136344/locations/global/workloadIdentityPools/github/providers/github
          service_account: marchenko1985@marchenko1985.iam.gserviceaccount.com
          token_format: access_token
          access_token_scopes: https://www.googleapis.com/auth/webmasters.readonly

      - run: |
          curl -H "Authorization: Bearer ${{ steps.auth.outputs.access_token }}" "https://searchconsole.googleapis.com/webmasters/v3/sites"

      # - run: |
      #     # github token
      #     token=$(curl -s -H "Authorization: bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" "$ACTIONS_ID_TOKEN_REQUEST_URL&audience=//iam.googleapis.com/projects/348636136344/locations/global/workloadIdentityPools/github/providers/github" | jq -r .value)
      #     echo "token: $token"

      #     # federated token (RFC 8693 token exchange call to Google STS)
      #     sts=$(curl -s -X POST https://sts.googleapis.com/v1/token -H "Content-Type: application/json" -d "{
      #       \"grant_type\": \"urn:ietf:params:oauth:grant-type:token-exchange\",
      #       \"audience\": \"//iam.googleapis.com/projects/348636136344/locations/global/workloadIdentityPools/github/providers/github\",
      #       \"scope\": \"https://www.googleapis.com/auth/cloud-platform\",
      #       \"requested_token_type\": \"urn:ietf:params:oauth:token-type:access_token\",
      #       \"subject_token_type\": \"urn:ietf:params:oauth:token-type:jwt\",
      #       \"subject_token\": \"$token\"
      #     }" | jq -r .access_token)

      #     # service account access token
      #     access_token=$(curl -s -X POST "https://iamcredentials.googleapis.com/v1/projects/-/serviceAccounts/marchenko1985@marchenko1985.iam.gserviceaccount.com:generateAccessToken" -H "Authorization: Bearer $sts" -H "Content-Type: application/json" -d '{
      #       "scope": ["https://www.googleapis.com/auth/webmasters.readonly"]
      #     }' | jq -r .accessToken)

      #     # call google search console api
      #     curl -s -H "Authorization: Bearer $access_token" https://searchconsole.googleapis.com/webmasters/v3/sites
